* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

.section{
    background-image: url(../Assets/joinUsSectionBaner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 150px;
}

/* register */
.form-container {
    width: 40%;
    padding: 10px 15px;
    border: 1px solid darkslategrey;
    font-size: 1.2rem;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgba(47, 79, 79, 0.619);
    color: white;
}

#register{
    color: red;
}

.form-container h2 {
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
}

.form-container .labels {
    display: block; 
    font-size: 16px;
    background-color: transparent;
}

.form-container input:not([name="gender"], [name="agreement"]) {
    min-width: 100%;
    padding: 5px;
    border: 1px solid;
    border-radius: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: whitesmoke;
    height: 32px;

}

.form-container label.gender {
    margin: 0 1.5rem 0 0;
    font-size: 15px;
    background-color: transparent;

}

.form-container button {
    min-width: 100%;
    padding: .6em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: darkslategrey;
    border: none;
    color: rgb(233, 233, 233);
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.agreement{
    font-size: 16px;
    background-color: transparent;
    font-style: oblique;
}
.agreement label{
    background-color: transparent;
}

/* breakpoints */
@media screen and (width < 1040px) {
    .section {
        padding: 50px 100px;
    }
}

@media screen and (width < 768px) {
    .section {
        padding: 50px;
    }

    .form-container {
        min-width: 50%;
    }
}

@media screen and (width < 600px) {
    .section {
        padding: 30px 40px;
    }

    .form-container {
        min-width: 60%;
    }
}

@media screen and (width < 450px) {
    .section {
        width: 80%;
    }

    .form-container {
        width: 100%;
    }
}

@media screen and (width < 400px) {
    .section {
        width: 100%;
        padding: 20px;
    }
}

